.mat-elevation-z8{
  width: 90% !important;
  margin: auto;
  .product_img{
    width: 100px;
    height: 100px;
  }

  .update_btn{
    background-color: #28a745;
  }
  .delete_btn{
    background-color: #dc3545;
  }

}
.add_btn{
margin-bottom: 1%;;
  margin-left: 6% ;
}
