<mat-toolbar>

  <span>Ecommerce App</span>
  <div>
  <button [matMenuTriggerFor]="menu" mat-icon-button class=" favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>public</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <mat-radio-group [dir]="(lang=='en')?'ltr':'rtl'" aria-label="Select an option" [(ngModel)]="lang" (change)="useLanguage()">
      <div>
        <mat-radio-button value="en">EN</mat-radio-button>

      </div>
      <div>
        <mat-radio-button value="ar">AR</mat-radio-button>

      </div>
    </mat-radio-group>

  </mat-menu>
  @if(isLoggedIn){
    <button mat-icon-button  aria-label=" icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>

    </button>

  }

  </div>

</mat-toolbar>
