<div class="form_container">
  <form class="login_form" #myForm="ngForm" (ngSubmit)="login(myForm)">
    <div class="form_caption">
      <h2>{{'signin'|translate}}</h2>
      <p>{{'signin_caption'|translate}}</p>
    </div>


    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{'email'|translate}}</mat-label>
        <input type="email" matInput placeholder="{{'email_msg'|translate}}" pattern="^[a-zA-Z]{4,8}$" required
          #emailInp="ngModel" [(ngModel)]="user.email" name="email">
      </mat-form-field>
      @if(emailInp.invalid&&emailInp.touched){
      @if(emailInp.hasError('required')){
      <mat-error>{{'email_err'|translate}}</mat-error>

      }
      @if(emailInp.hasError('pattern')){
      <mat-error>{{'email_err2'|translate}}</mat-error>

      }
      }
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{'password'|translate}}</mat-label>

        <input type="password" matInput placeholder="{{'password_msg'|translate}}" pattern="^[a-zA-Z]{4,8}$" required
          #passwordInp="ngModel" [(ngModel)]="user.password" name="password">

      </mat-form-field>
      @if(passwordInp.invalid&&passwordInp.touched){
      @if(passwordInp.hasError('required')){
      <mat-error>{{'password_err'|translate}}</mat-error>

      }
      @if(passwordInp.hasError('pattern')){
      <mat-error>{{'password_err2'|translate}}</mat-error>

      }
      }
    </div>

    <div class="button-container">
      <button mat-flat-button type="submit" [disabled]="myForm.invalid">
        {{'signin'|translate}}
      </button>
    </div>
  </form>

</div>
